version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: ${DOCKER_USER}/my-backend:latest
    container_name: my-backend
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 8088
    ports:
      - "8088:8088"
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    image: ${DOCKER_USER}/my-frontend:latest
    container_name: my-frontend
    restart: always
    environment:
      - NODE_ENV=production
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data: